---
pageable: true
per_page: 10
---

- content_for(:title, 'Feed')
- content_for(:foreground, '#fff')

- if behances
  - behances.each do | behance |
    %article.feed.single.api
      %hr
      .post-container
        .post-type
          %a{:href => 'http://behance.net/oneiota/',:target => '_blank',:title => '@oneiota on Behance'} <i class='icon icon-behance'></i><i class='icon icon-behance-full icon-inverted'></i>
        .post-date.mobile
          %span{:class => 'published', :data => {:published => clean_date(behance['created_on'])}}
        .post-content
          .feed-img-holder
            %a{:class => 'feed-img loading', :title => behance['name'] + ' @oneiota on Behance', :href => behance['url'], :target => '_blank', :data => {:img => behance['covers']['404'], :alt => behance['name'] + ' @oneiota on Behance'}}
          %p Just posted <a href='#{behance['url']}' target='_blank' title='#{behance['name']} @oneiota on Behance'>#{behance['name']}</a> on Behance
        .post-date
          %span{:class => 'published', :data => {:published => clean_date(behance['created_on'])}}

- if dribbbles
  - dribbbles.each do | dribbble |
    %article.feed.single.api
      %hr
      .post-container
        .post-type
          %a{:href => 'http://dribbble.com/oneiota/',:target => '_blank',:title => '@oneiota on Dribbble'} <i class='icon icon-dribbble'></i><i class='icon icon-dribbble-full icon-inverted'></i>
        .post-date.mobile
          %span{:class => 'published', :data => {:published => clean_dribble_date(dribbble['created_at'])}}
        .post-content
          .feed-img-holder
            %a{:href => dribbble['short_url'], :target => '_blank', :class => 'feed-img loading', :title => dribbble['title'] + ' @oneiota on Dribbble', :data => {:href => dribbble['url'], :img => dribbble['image_url'], :alt => dribbble['title'] + ' @oneiota on Dribbble'}}
          %p Just posted <a href='#{dribbble['short_url']}' target='_blank' title='#{dribbble['title']} @oneiota on Dribbble'>#{dribbble['title']}</a> on Dribbble
        .post-date
          %span{:class => 'published', :data => {:published => clean_dribble_date(dribbble['created_at'])}}

-if tweets
  - tweets.each do | tweet |
    %article.feed.single.api
      %hr
      .post-container
        .post-type
          %a{:href => 'http://twitter.com/oneiota_/',:target => '_blank',:title => '@oneiota_ on Twitter'} <i class='icon icon-twitter'></i><i class='icon icon-twitter-full icon-inverted'></i>
        .post-date.mobile
          %span{:class => 'published', :data => {:published => tweet.created_at}}
        .post-content
          - tweet.media.each do | twitpic |
            - if twitpic.media_url
              .feed-img-holder
                %a{:class => 'feed-img loading', :title => tweet.text, :href => twitpic.display_url, :target => '_blank', :data => {:img => twitpic.media_url, :alt => tweet.text}}
          %p=clean_tweet(tweet.text)
        .post-date
          %span{:class => 'published', :data => {:published => tweet.created_at}}

- blog.articles[(page_start-1)...(page_end)].each_with_index do |article, i|
  - dropdown = false
  - if i == 2
    - if recent_pins
      %article.feed.gallery.pintrest
        %hr
        .post-container
          .post-type
            %a{:href => 'http://pinterest.com/oneiota/',:target => '_blank',:title => '@oneiota on Pintrest'} <i class='icon icon-pintrest'></i><i class='icon icon-pintrest-full icon-inverted'></i>
          .post-content
            - recent_pins['body'].first(8).each do | pin |
              .feed-img-holder
                - newURL = 'http://pinterest.com' + pin['href']
                - newDesc = pin['desc'] ? pin['desc'] + ' @oneiota on Pintrest' : '@oneiota on Pintrest'
                %a{:class => 'feed-img loading', :href => newURL, :target => '_blank', :title => newDesc, :data => {:img => pin['src'], :alt => newDesc}}
            %p some of our lastest pins
          .latest-pins
            %a{:href => 'http://pinterest.com/oneiota/pins/',:target=>'_blank',:title => '@oneiota on Pintrest'} @oneiota
  %article.feed.post
    %hr
    .post-container
      .post-type
        -link_to article, :relative => false do
          %i{:class=>'icon icon-post'}
          %i{:class=>'icon icon-post-full icon-inverted'}
      .post-date.mobile
        %span{:class => 'published', :data => {:published => article.date}}
      .post-content
        %h2= link_to article.title, article, :relative => false
        - if article.data.images
          - firstImg = article.data.images.first
          - imgsrc = firstImg.keys.first
          - imgtitle = firstImg.values.first
          .feed-img-holder.feature-image
            %span{:class => 'feed-img loading', :data => {:img => imgsrc, :alt => imgtitle}}
        -if article.body.scan("\n").size <= 1
          %div.article-text= article.body
        -else
          - summary = article.body.lines.first + '<span>. . .</span>'
          %div.article-text= summary
      .post-date
        %span{:class => 'published', :data => {:published => article.date}}
    
    - if article.body.scan("\n").size > 1
      - dropdown = true
      %span.down-arrow &darr;
      .more-content
        %div.more-text= article.body
    - if article.data.images and article.data.images.size > 1
      -if !dropdown
        %span.down-arrow &darr;
      .more-content
        - article.data.images.drop(1).each do |img|
          - imgsrc = img.keys.first
          - imgtitle = img.values.first
          .feed-img-holder
            %span{:class => 'feed-img loading', :data => {:img => imgsrc, :alt => imgtitle}}

- if paginate
  %article.feed.paginate
    %hr
    .post-container
      .post-content
        %h2 Hold up...
    .maxpages{:data => {:maxpages => num_pages}}