---
pageable: true
per_page: 10
---

- content_for(:title, 'Feed')
- content_for(:description, 'We’re a digital design &amp; development shop focused on user experience. We’re a small team of designers, thinkers, strategizers, do-ers &amp; storytellers packing a lot of experience across disciplines. Staying small keeps our hands dirty, our overhead lean, our turnarounds fast, and our clients happy.')
- content_for(:foreground, '#fff')
- content_for(:background, '#222')

- blog.articles.each_with_index do |article, i|
  %article
    .post
      %h2= link_to article.title, article
      =article.date
      - if article.data.images
        - article.data.images.each do |img|
          - imgsrc = article.url + img.keys.first
          - imgtitle = img.values.first
          %span{:class => 'feed-img', :href => '#',:data => {:img => imgsrc, :alt => imgtitle}}
          /%a{:class => 'feed-image', :href => '#',:style => "background-image:url(#{imgsrc});", :title => imgtitle}
      %span= article.date.strftime('%b %e')
      / use article.summary(250) if you have Nokogiri available to show justthe first 250 characters
      = article.body
      %hr

- if paginate
  .paginate
    %p Page #{page_number} of #{num_pages}
    - if next_page
      %p= link_to 'Next page', next_page
    - if prev_page
      %p= link_to 'Previous page', prev_page
