---
pageable: true
per_page: 10
---

- content_for(:title, 'Feed')
- content_for(:description, 'We’re a digital design &amp; development shop focused on user experience. We’re a small team of designers, thinkers, strategizers, do-ers &amp; storytellers packing a lot of experience across disciplines. Staying small keeps our hands dirty, our overhead lean, our turnarounds fast, and our clients happy.')
- content_for(:foreground, '#fff')
- content_for(:background, '#222')

- blog.articles.each_with_index do |article, i|
  - if article.data.type == 'post'
    %article.feed
      %hr
      .post-container
        .post-type
          %i.icon.icon-post
        .post
          %h2= link_to article.title, article
          - if article.data.images
            .post-image-containter
              .post-images
                - article.data.images.each_with_index do |img, index|
                  - imgsrc = 'feed/' + img.keys.first
                  - imgtitle = img.values.first
                  - if index == 0
                    %span{:class => 'active feed-img', :href => '#',:data => {:img => imgsrc, :alt => imgtitle}}
                  - else
                    %span{:class => 'feed-img', :href => '#',:data => {:img => imgsrc, :alt => imgtitle}}
                  /%a{:class => 'feed-image', :href => '#',:style => "background-image:url(#{imgsrc});", :title => imgtitle}
              / use article.summary(250) if you have Nokogiri available to show justthe first 250 characters
          = article.body
        .post-date
          %span{:class => 'published', :data => {:published => article.date}}

- if paginate
  .paginate
    %p Page #{page_number} of #{num_pages}
    - if next_page
      %p= link_to 'Next page', next_page
    - if prev_page
      %p= link_to 'Previous page', prev_page
