.hud.top-hud.info-hud
  %ul.filterMenu
    %li.eyeButton.scaleIn
      %a{:href => '#', :title => 'Get Picky'}
        %i.icon.icon-eye.scaleOutSevenFive
        %i.icon.icon-eye.scaleInSevenFive
    %li.active.scaleInMenu
      %a{:href => '#',:data => {:filter => 'all'}}
        %span All
    %li.scaleInMenu.delay-one
      %a{:href => '#',:data => {:filter => 'branding'}}
        %span Branding &amp; Design
    %li.scaleInMenu.delay-two
      %a{:href => '#',:data => {:filter => 'digital'}}
        %span Websites &amp; Apps

  .navCounters
    .navPanel
    %ul
      - textColor = data.projects[0].colors.background
      - data.projects.each_with_index do |project, index|
        -if index == 0
          %li.active.scaleIn
            %a.scaleDownHover.nav-item{:href => '/'+project.slug}
              %i.icon-circle.icon
            %span.arrow-tab.hideArrow.scaleIn{:style => "color:#{textColor};"}
              %span.arrow-title
                =project.project
        -elsif index == 7
          %li.scaleIn
            %a.scaleDownHover.nav-item{:href => '/'+project.slug}
              %i.icon-circle.icon
              %a{:href => '#', :title => 'More Projects'}
                %i.icon-down-arrow-bare.icon
              %span.arrow-tab.hideArrow.scaleIn{:style => "color:#{textColor};"}
                %span.arrow-title
                  =project.project
        -elsif index == 8
          %li.mobile-hide.scaleIn
            %a{:href => '#', :title => 'Back'}
              %i.icon-up-arrow-bare.icon
              %a.scaleDownHover.nav-item{:href => '/'+project.slug}
                %i.icon-circle.icon
              %span.arrow-tab.hideArrow.scaleIn{:style => "color:#{textColor};"}
                %span.arrow-title
                  =project.project
        -elsif index > 8 
          %li.mobile-hide.scaleIn
            %a.scaleDownHover.nav-item{:href => '/'+project.slug}
              %i.icon-circle.icon
            %span.arrow-tab.hideArrow.scaleIn{:style => "color:#{textColor};"}
              %span.arrow-title
                =project.project
        -else
          %li.scaleIn
            %a.scaleDownHover.nav-item{:href => '/'+project.slug}
              %i.icon-circle.icon
            %span.arrow-tab.hideArrow.scaleIn{:style => "color:#{textColor};"}
              %span.arrow-title
                =project.project

.hud.bottom-hud
  %ul.indexNav
    %li.scaleIn.info
      %a.icon-info.icon.scaleUpHover{:href=>'#', :title => 'Menu'}
    %li.scaleIn.icon-down-arrow.icon
  %ul.menuNav
    %li.scaleIn
      %a.icon-close.icon.scaleUpHover{:href=>'#', :title => 'Close this'}
  %ul.infoNav
    %li.scaleIn
      %a.icon-left-arrow.icon.scaleUpHover{:href=>'#', :title => 'Back'}