- content_for(:title, 'blood')
- content_for(:foreground, '#fff')

%section.info-crew
  .container
    .bloodbg
      /%img{:src=>'images/blood.jpg'}
    .content.delay
      %p.section-title
        %span= 'blood'
      
      %h2 We are one iota

      %p One Iota is a team of young, passionate and experienced cross-discipline designers & developers. Specializing across branding, design and digital mediums, our skills and networks are flexible enough to take on clients of different shapes and jobs of different sizes. Together, we seek to create experiences that highlight, challenge and excite.

      %h2 Connect with us

      =partial "social"

%section.info-contact
  .container
    .content.delay
      %p.section-title
        %span= 'get in touch'
      .get-in-touch
        %ul
          %li
            %h2 &nbsp;<a href='mailTo:hello@oneiota.com' title='Get in touch'>hello@oneiota.com</a>
          %br
          %li
            %h2 &nbsp;<i class="icon icon-phone"></i> +61 (0)7 3191 9816
          %br
          %li
            %h2 &nbsp;<i class="icon icon-pin"></i> 6/887 Ann St<br/>Fortitude Valley Q 4006</br>Brisbane Australia

%section.info-map
  #map-area

%section.info-team
  .container
    .content.delay
      %p.section-title
        %span= 'team'
        .team-holder
          .team-instagram.iotaInsty1
            %img.instagram-mask.insty{:src=>settings.base_url+'images/team-mask.svg'}
          .instagram-link
            %a{:href=>'http://instagram.com/oneiota_',:title=>'@oneiota_ on instagram',:target=>'_blank'}
              %span.icon.icon-instagram-bare
        
        .team-holder.davefTeam.team-member{:data=>{:imgalt =>'David Fontain',:parent =>'.davefTeam',:shot1=>settings.base_url+'images/team/oneiota_davidfontain2.jpg',:shot2=>settings.base_url+'images/team/oneiota_davidfontain.jpg'}}
          .team-instagram.iotaTeam1
            %img.instagram-mask{:src=>settings.base_url+'images/team-mask.svg'}
          .team-name-holder
            .team-name
              %p David Fontain
              %a.icon.icon-linkdin{:href=>'http://au.linkedin.com/pub/david-fontain/83/318/531/',:title=>'view Linkdin profile',:target=>'_blank'}
        
        .team-holder
          .team-instagram.iotaInsty2
            %img.instagram-mask.insty{:src=>settings.base_url+'images/team-mask.svg'}
          .instagram-link
            %a{:href=>'http://instagram.com/oneiota_',:title=>'@oneiota_ on instagram',:target=>'_blank'}
              %span.icon.icon-instagram-bare

        .team-holder.davemTeam.team-member{:data=>{:imgalt =>'David Muirhead',:parent =>'.davemTeam',:shot1=>settings.base_url+'images/team/oneiota_davidmuirhead.jpg',:shot2=>settings.base_url+'images/team/oneiota_davidmuirhead2.jpg'}}
          .team-instagram.iotaTeam2
            %img.instagram-mask{:src=>settings.base_url+'images/team-mask.svg'}
          .team-name-holder
            .team-name
              %p.no-linkdin David Muirhead

        .team-holder.smallfry
          .team-instagram.team-empty 
            %img.instagram-mask.insty{:src=>settings.base_url+'images/team-empty.svg'}
        
        .team-holder
          .team-instagram.iotaInsty3
            %img.instagram-mask.insty{:src=>settings.base_url+'images/team-mask.svg'}
          .instagram-link
            %a{:href=>'http://instagram.com/oneiota_',:title=>'@oneiota_ on instagram',:target=>'_blank'}
              %span.icon.icon-instagram-bare
        
        .team-holder.smallfry
          .team-instagram.team-empty 
            %img.instagram-mask.insty{:src=>settings.base_url+'images/team-empty.svg'}

        .team-holder.pamTeam.team-member{:data=>{:imgalt =>'Pam Rosel',:parent =>'.pamTeam',:shot1=>settings.base_url+'images/team/oneiota_pamrosel.jpg',:shot2=>settings.base_url+'images/team/oneiota_pamrosel2.jpg'}}
          .team-instagram.iotaTeam1
            %img.instagram-mask{:src=>settings.base_url+'images/team-mask.svg'}
          .team-name-holder
            .team-name
              %p Pam Rosel
              %a.icon.icon-linkdin{:href=>'http://www.linkedin.com/pub/pamela-rosel/83/151/5aa',:title=>'view Linkdin profile'}

        .team-holder.smallfry
          .team-instagram.iotaInsty4
            %img.instagram-mask.insty{:src=>settings.base_url+'images/team-mask.svg'}
          .instagram-link
            %a{:href=>'http://instagram.com/oneiota_',:title=>'@oneiota_ on instagram',:target=>'_blank'}
              %span.icon.icon-instagram-bare

        .team-holder.smallfry
          .team-instagram.iotaInsty5
            %img.instagram-mask.insty{:src=>settings.base_url+'images/team-mask.svg'}
          .instagram-link
            %a{:href=>'http://instagram.com/oneiota_',:title=>'@oneiota_ on instagram',:target=>'_blank'}
              %span.icon.icon-instagram-bare

%section.info-service-details
  .container
    .content.delay
      %p.section-title
        %span= 'services'

      %h2 We devise powerful forward-thinking ideas across a variety of media.

      .info-service-description
        %h3 Branding &amp; Design
        %p.service-description  At the heart of our process is a determination to create solutions of real value for our clients, challenge traditional ideas and look to future technologies - asking what’s possible, without losing sight of what’s needed. We believe that good branding is more than just a logo - it’s everything. It creates culture, loyalty and inspires action.
        %hr
        %ul 
          %li brand strategy
          %li product development
          %li creative direction
          %li logo & identity design
          %li print collateral
          %li packaging
          %li campaign material
          %li editorial & copywriting
          %li signage & wayfinding
          %li built environment

      .info-service-description
        %h3 Apps &amp; Websites
        %p.service-description Great ideas are adapting across a multitude of different devices, connecting a global community of participating audiences who have the power to ultimately change the world. Our expertise in digital strategy and development sees that we are able to conceptualize, build, launch, and manage your digital venture to a standard that prizes creativity, best web practices and cutting-edge technology.
        %hr
        %ul
          %li user interface / UI design
          %li user experience / UX design
          %li web development
          %li web and mobile applications
          %li content management systems / CMS
          %li e-commerce systems
          %li web optimization for mobile devices
          %li social network strategy

%section.info-testimonials
  .container
    .content.delay
      %p.section-title
        %span= 'kind words'

      .testimonial-holder
        .left-arrow
          %a.icon-left-arrow-bare.icon{:href=>"#",:title=>"More kind words"}
        .testimonial
          - data.testimonials.each_with_index do |testimonial, index|
            -if index == 0
              .client-testimonial.current-testimonial
                %p= testimonial.testimonial
                %span= testimonial.client
            -else
              .client-testimonial
                %p= testimonial.testimonial
                %span= testimonial.client
        .right-arrow
          %a.icon-right-arrow-bare.icon{:href=>"#",:title=>"Back"}

%section.info-newsletter
  .container
    .content.delay
      %form{:action=>"http://studiooneiota.us2.list-manage.com/subscribe/post-json?u=dfd58ec7f11fcaa31e6f92dde&amp;id=32735f28a0&c=?",:method=>"get",:id=>"newsletter-subscribe",:name=>"newsletter-subscribe",:class=>"validate"}
        %label{:for=>"newsletter-subscribe-email"} Stay in touch
        %input{:type=>"email",:value=>"", :name=>"EMAIL", :class=>"input-email",:id=>"newsletter-subscribe-email",:placeholder=>"email@domain + return"}
        %input{:type=>"submit",:value=>"Subscribe",:name=>"subscribe",:id=>"mc-embedded-subscribe",:class=>"button"}

