/Load in content for the first two projects
- content_for(:title, data.projects[0].project)
- content_for(:foreground, data.projects[0].colors.foreground)
- content_for(:background, data.projects[0].colors.background)

- data.projects.each do |project|
  %article{:id => project.slug,:style => "color:#{project.colors.foreground}; background:#{project.colors.background};", :data => {:title => project.project, :foreground => project.colors.foreground, :background => project.colors.background}}
    %div.project
      - project.images.each_with_index do |img, index|
        - if index == 1 
          %p= project.description
        - sizeArr = FastImage.size("http://localhost:4567/images/#{project.slug}/#{img.mobile}")
        - spanRatio = (sizeArr[1].to_f/sizeArr[0].to_f)*100
        %div{:class => "placeholder"}
          %span.placeholder-bg{:src => "images/#{project.slug}/#{img.placeholder}",:alt => "#{img.alt}",:style => "padding-bottom:#{spanRatio}%;background:#{project.colors.foreground}",:data => {:mobile => "images/#{project.slug}/#{img.mobile}", :desktop => "images/#{project.slug}/#{img.desktop}"}}
          %span.placeholder-alt= img.alt

.device